@font-face {
    font-family: Manrope;
    src: url(font/Manrope-VariableFont_wght.ttf);
}

body {
    margin-bottom: 20%;
}

.heading {
    font-size: 5em;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    margin: 0 auto;
    text-align: center;
    font-family: Manrope;
}

img {
    width: 90%;

}

.task {
    font-size: 3em;
    margin: 5%;
}

.subtext {
    font-size: 2.5em;
}

input[type='submit'] {
    font-family: Bebas, serif;
    background-color: rgb(255, 0, 68);
    border: none;
    color: white;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5em;
    margin: 3% 2px;
    border-radius: 8px;
    letter-spacing: 2px;
    outline: none;
    font-family: Manrope;
    -webkit-appearance: none;
}

input[type='text'] {
    height:70px;
    width: 350px;
    font-size:50pt;
    font-family: Manrope;
}

.author {
    font-size: 0.5em;
}