@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: hsla(203, 22%, 12%, 1);
    color: white;
}

.container {
    padding: 0.7em;
    margin: 1em;
    text-align: center;
    border-radius: 1em;
    background-color: hsla(203, 22%, 14%, 1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07);
}

.container .main-date {
    font-size: 100pt;
}

.container .main-text {
    font-size: 30pt;
}

.heading {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.contents {
    letter-spacing: 0.1em;
}

.contents div {
    padding: 1em;
}

.comment {
    padding-top: 0.8em;
}

img {
    max-width:100%;
    max-height:100%;
    border-radius: 1em;
}

.emoji {
    text-align: center;
    font-size: 150pt;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #ff0048,
            0 0 21px #ff0048,
            0 0 42px #ff0048,
            0 0 82px #ff0048,
            0 0 92px #ff0048,
            0 0 102px #ff0048,
            0 0 151px #ff0048;
}

.msg {
    text-align: left;
}

.date {
    text-align: right;

}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}
.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
}
.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}
